/* Estilos para el cuerpo */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
  margin: 0;
  color: #fff;

  overflow-x: hidden;
  background-color: rgb(48, 179, 207);
  background-image: url("../images/pago10.jpg");

  /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
  /* Evita que la imagen se repita */
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  background-attachment: fixed;
  /* Evita que la imagen se repita */
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 1600px;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #000000 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  padding: 20px;
  font-size: 1.5rem;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: #f0f0f0;
}

.user-icon {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  /* Para hacerla circular, si lo deseas */
  margin-right: 5px;
  /* O cualquier otro margen que desees */
}

.imagenLogo {
  border-radius: 45px;
  width: 216px;
}

.rounded-circle {
  width: 24px;
  /* Tamaño deseado de la imagen */
  height: 24px;
  border-radius: 50%;
  border-color: transparent;
}

.btn-outline-secondary {
  border: transparent;
  color: #fff !important;
}

.btn-outline-secondary:hover {
  border: transparent;
}

li,
a {
  color: #fff;
}

/* Estilos para la sección del héroe */
.hero {
  margin-top: 50px;
  padding: 80px 0;
  background-color: #282828bd;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.1rem;
}

/* Estilos para el botón de reproducción en la sección del héroe */
.btn-play {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-play:hover {
  background-color: transparent;
  color: #e5e5e5;
  border-color: transparent;
}

.btn-play i {
  display: block;
}

/* Estilos para el título "Canciones Destacadas" */
.titulo-destacado {
  margin-top: 0px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
  background-color: #00000063;
}

/* Estilos para la sección de canciones destacadas */
.featured-songs {
  padding: 50px 0;
}

.featured-songs h2 {
  margin-bottom: 30px;
}

.card-body {
  background-color: transparent;
  padding: 1px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  /* Añade espacio entre el título y el contenido */
}

.card-text {
  font-size: 1rem;
  text-align: center;
}

.card .btn-primary {
  color: #fff;
  background-color: #41fcc4;
  border-color: #01764a;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.card .btn-primary:hover {
  background-color: #01754a;
}

.card-container {
  background-image: url("foto1.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(13, 13, 13, 0.44);
  background-clip: border-box;
  border-radius: 0.25rem;
  padding: 17px;
  margin-top: 30px;
  border: none;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.744);
}

.card:hover .card-body {
  background-color: transparent;
}

.cardBtn a {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* Estilos para el contenedor de los botones de paginación */
.pagination-container {
  text-align: center;
}

.pagination-container button {
  margin: 0 5px; /* Ajusta el espacio entre los botones si es necesario */
}

/* Estilos para los botones de flecha de paginación */
.btn-flecha {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
  /* Color de las flechas */
  transition: color 0.3s ease;
}

.btn-flecha:hover {
  color: rgba(0, 0, 0, 0.977);
  /* Cambia el color al pasar el ratón sobre las flechas */
}
