/* Estilos para el pie de página */
.reproductor {
  opacity: 60%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #000000f5;
  opacity: inherit;
}
.fa-circle-play {
  font-size: 50px;
}

.btn-light {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.btn-light:hover {
  background-color: transparent;
  /* Cambia el color de fondo al pasar el mouse sobre el botón */
}
.bg-dark {
  background-color: #000000f5 !important;
}

.player-controls .btn {
  font-size: 1.25rem;
  border-radius: 50% !important;
  margin: 10px;
  font-size: 0.9rem;
}
.mt-1,
.my-1 {
  margin-top: -1rem !important;
}

.player-controls .btn:hover {
  background-color: transparent;
  border-color: transparent;
  color: #d7d566;
}

/* Estilos para la barra de progreso */
.form-range {
  background-color: transparent;
  width: 100%;
  margin: 5px 0;
  /* Cambia el margen según sea necesario */
}

/* Estilos específicos para navegadores WebKit (Chrome, Safari, etc.) */
.form-range::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: #ffffff;
  /* Color de la parte no progresada de la barra de progreso */
  border-radius: 25px;
  border: 0.2px solid #010101;
}

/* Estilos para la parte progresada de la barra de progreso en WebKit */
.form-range::-webkit-slider-runnable-track::-webkit-progress-value {
  height: 8.4px;
  background-color: #30b3cf;
  /* Color de la parte progresada de la barra de progreso */
}

/* Estilos para el pulgar del rango en navegadores WebKit */
.form-range::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  /* Ajusta el margen superior según sea necesario */
}

/* Estilos específicos para navegadores Mozilla Firefox */
.form-range::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: #ffffff;
  /* Color de la parte no progresada de la barra de progreso */
  border-radius: 25px;
  border: 0.2px solid #010101;
}

/* Estilos para la parte progresada de la barra de progreso en Firefox */
.form-range::-moz-range-progress {
  background-color: #30b3cf;
  /* Color de la parte progresada de la barra de progreso en Firefox */
}

/* Estilos para el pulgar del rango en navegadores Mozilla Firefox */
.form-range::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  /* Cambia este color al que desees para hacer el pulgar blanco */
  cursor: pointer;
  margin-top: -5px;
  /* Ajusta el margen superior según sea necesario */
  border: 0.2px solid #010101;
}

/* Estilos específicos para navegadores Microsoft Edge e Internet Explorer */
.form-range::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #ffffff;
  /* Color de la parte no progresada de la barra de progreso */
  border-radius: 25px;
  border: 0.2px solid #010101;
}

/* Estilos para la parte progresada de la barra de progreso en Microsoft Edge e Internet Explorer */
.form-range::-ms-fill-lower {
  background-color: #30b3cf;
  /* Color de la parte progresada de la barra de progreso en Microsoft Edge e Internet Explorer */
}

/* Estilos para el pulgar del rango en navegadores Microsoft Edge e Internet Explorer */
.form-range::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  /* Cambia este color al que desees para hacer el pulgar blanco */
  cursor: pointer;
  border: 0.2px solid #010101;
}

.fa-heart {
  width: 24px;
  height: 24px;
}
.volume-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Esto centra horizontalmente el contenedor */
  display: none;
}
.fa-volume-down {
  margin: 20px;
}
.fa-volume-high::before,
.fa-volume-up::before {
  content: "\f028";
  margin: 20px;
}

.text-custom {
  color: #d975d7;
  /* Cambia este valor por el color que desees */
}

.close {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  margin: 20px;
  text-shadow: none;
  opacity: 0.6;
}

.close:hover {
  color: #eae6e6;
}
.song-info {
  margin-left: 20px;
}

.reproductor {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40; /* Mantén el fondo oscuro */
  color: white; /* Asegura que el texto sea blanco */
  transition: all 0.3s ease;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  padding: 10px; /* Ajusta el padding según sea necesario */
  display: none; /* Inicialmente oculto */
}

.reproductor.minimized {
  height: 85px;
  overflow: hidden;
}

.reproductor .song-info {
  display: flex;
  align-items: center;
}

.reproductor .song-details {
  display: flex;
  align-items: center;
}

.reproductor .song-details .song-image {
  width: 50px;
  height: auto;
}

.reproductor .text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#songTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 20px;
}

#artistName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: -1px;
}
.text-info {
  color: #ffffff !important;
}

.reproductor .player-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reproductor .playback-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#currentTime,
#totalTime {
  font-size: 0.8rem;
  margin: 5px;
  font-size: 0.7rem;
  margin: -1px;
}
.form-range {
  width: 100%;
  margin: 5px 0;
  width: 123%;
  margin: 0;
}
#volumeSlider {
  width: 30%;
}

/* reproductor.css | http://127.0.0.1:8000/css/reproductor.css */

#artistName {
  margin: -1px;
}
#closeBtn {
  border: none;
  background: none;
  color: white;
}
.btn-light.focus,
.btn-light:focus {
  color: #212529;
  background-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  color: #7f7f80;
}
.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

/* bootstrap.min.css | https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css */

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {

  color: #fff;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
  }

