{% extends 'frontened.html.twig' %}

{% block title %}Administración
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
	{% include 'nav.html.twig' %}

	<h1>Editar Artista</h1>
{% endblock %}
